$primary: #d7e8fd;
$success: #001f3f;
$danger: #2500ba;

@import "../../bootstrap-5.3.3-dist/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


.yellow-star { color: #ffdd00;
}

.accordion-button:not(.collapsed) {
    background-color: #d7e8fd !important;
}