body {
    background-color: #E38E49;}
div {
    background-color: #D4EBF8;
    margin: 20px ;
    border-radius: 40px;}
h1 {
    color: #0A3981;}

.flex1, .flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; 
    margin: 0px; 
    padding: 0px;}

.flex1 + .flex2 {
    margin-top: 0px;
    padding-top:0px;}
        
img {
    width: 300px;
    margin: -20px; 
    padding: 0px;}

.box{
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 40px;
}
.flex2 {
    padding-bottom: 40px;
}